################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/docker-api/FileContentIndex
/.vs/docker-api/v17
